@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-dark: #2d2d2d;
  --light-bg: #eeeeee;
}

.dark {
  background-color: var(--bg-dark);
  color: var(--light-bg);
}
.light {
  background-color: var(--light-bg);
  color: var(--bg-dark);
}
.react-loading-skeleton {
  background-color: white !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-dark);
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
}
.layout-overlay {
  position: fixed;
  top: 0;
  right: 0;
  height: 100% !important;
  left: 0;
  display: none;
  background: #161616;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.5s ease;
  z-index: 5;
}
